<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<logger name="org.apache" level="WARN"/>
	
	<property name="LOG_FILE" value="log/hbase_access_backup"/>
	
	
	<appender name="BACKUP_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %m%n</pattern>
		</encoder>
	</appender>
	
    <!-- This is the kafkaAppender -->
	<appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">    
		<encoder class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%msg</pattern>
			</layout>
		</encoder>
        <topic>t1</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.HostNameKeyingStrategy" />
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
        
      	<producerConfig>bootstrap.servers=192.168.110.128:9092</producerConfig>
      	<producerConfig>acks=1</producerConfig>
      	<producerConfig>linger.ms=100</producerConfig>
      	<producerConfig>metadata.fetch.timeout.ms=3000</producerConfig>
      	<producerConfig>client.id=dps-habse-${HOSTNAME}</producerConfig>
      	
		<appender-ref ref="BACKUP_FILE_APPENDER" />
	</appender>
	
        
	<appender name="asyncAppender" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="BACKUP_FILE_APPENDER" />
	</appender>
	
	<logger name="com.umpay.dps.primary.hbase.service" additivity="false">
		<appender-ref ref="asyncAppender" />
	</logger>
	
	<logger name="com.umpay.dps.primary.hbase.controller" additivity="false">
		<appender-ref ref="asyncAppender" />
	</logger>
	
	<!-- Don't change, controller by properties "logging.level.root" -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>